<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Supplier Webpage 1</title>
    <link rel="stylesheet" href="assets/css/style.css"  />
    <link rel="stylesheet" href="assets/css/responsive.css"  />
    <link rel="stylesheet" href="assets/css/helper.css"  />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
</head>
    <header>
        <div class="head-strip-top">
            <div class="top-strip-bar  h-30 d-flex align-content-center" >
                <div class="container row align-content-center  justify-content-center m-auto p-0">    
                    <div class="left-top-strip col xs-m-0 xs-p-0 p-0">
                        <span class="font-size-13">
                            <i class="bi bi-envelope-fill font-size-10"></i> 
                            Info@tglia.com</span>  
                        <span class="seperator">|</span>
                        <span class="font-size-13">
                            <i class="bi bi-telephone-fill font-size-10"></i>
                            040-2345678</span>                  
                    </div>
                    <div class="right-top-strip col-3 social-media-icons d-flex justify-content-end p-0">
                        <span class=""><i class="bi bi-twitter mr-8"></i></span>
                        <span class=""><i class="bi bi-facebook mr-8"></i></span>
                        <span class=""><i class="bi bi-linkedin mr-8"></i></span>
                        <span class=""><i class="bi bi-instagram"></i></span>
                    </div>
                </div>
            </div>
            <div class="container main-header pv-16">
                <div class="header-wrapper row align-content-center justify-content-center m-auto p-0">
                    <div class="logo col-xl-4 col-md-4 p-0 cursor-pointer">
                        <a href="index.html" class="d-flex">
                            <img src="assets/img/Tglia.jpg" alt="logo" class="w-80 col mr-8">
                            <span class="col lh-lg font-weight-bold font-size-18 line-height-46">TGLIA SERVICES LLP</span>
                        </a>
                    </div>
                    <!-- <div class="col-xl-2 d-flex align-items-center">
                           
                    </div> -->
                    <div class="col-xl-8 col-md-8 d-flex justify-content-end align-items-center p-0 home-page-top-menu d-lg-flex d-md-flex   d-xl-flex d-xxl-flex">
                        <nav class="navbar navbar-expand-lg ">
                            
                            <div class="container-fluid">
                              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
                              <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                                <input type="text" placeholder="Search products" class="search-product mr-16"/>
                                <ul class="navbar-nav">
                                  <li class="nav-item">
                                    <a class="nav-link active-link" aria-current="page" href="index.html">Home</a>
                                  </li>
                                  <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                     Products
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="productlist.html">Zeera</a></li>
                                        <li><a class="dropdown-item" href="productlist.html">Kasturi Methi</a></li>
                                        <li><a class="dropdown-item" href="productlist.html">Rock Salt</a></li>
                                        <li><a class="dropdown-item" href="productlist.html">Gooseberry Grass Powder (Bulk)</a></li>
                                        <li><a class="dropdown-item" href="productlist.html">Tamerind</a></li>
                                        <li><a class="dropdown-item" href="productlist.html">Triphala</a></li>
                                        <li><a class="dropdown-item" href="productlist.html">Curry Leave Powder (Bulk)</a></li>
                                        <li><a class="dropdown-item" href="productlist.html">Black Cumin (Bulk)</a></li>
                                        <li><a class="dropdown-item" href="productlist.html">Black Salt (Bulk)</a></li>
                                        <li><a class="dropdown-item" href="productlist.html">Tulsi (Bulk)</a></li>
                                        <li><a class="dropdown-item" href="productlist.html">Amachoor Powder (Bulk)</a></li>
                                        <li><a class="dropdown-item" href="productlist.html">Mace(Javitri) (Bulk)</a></li>
                                        <li><a class="dropdown-item" href="productlist.html">Cumin (Zeera)</a></li> 
                                         <li><a class="dropdown-item" href="productlist.html">Mint Powder (Bulk)</a></li>
                                         <li><a class="dropdown-item" href="productlist.html">Garlic Powder (Bulk)</a></li>
                                         <li><a class="dropdown-item" href="productlist.html">Coriander Grounded (Bulk)</a></li>
                                         <li><a class="dropdown-item" href="productlist.html">Fennel Seed (Bulk)</a></li>
                                         <li><a class="dropdown-item" href="productlist.html">Turmeric Grounded (Bulk)</a></li>
                                         <li><a class="dropdown-item" href="productlist.html">Mustard Seeds (Bulk)</a></li>
                                         <li><a class="dropdown-item" href="productlist.html">Cumin Grounded (Bulk)</a></li>
                                         <li><a class="dropdown-item" href="productlist.html">Cardamom Grounded (Bulk)</a></li>
                                         <li><a class="dropdown-item" href="productlist.html">Cardamom Grounded (Bulk)</a></li>
                                         <li><a class="dropdown-item" href="productlist.html">Nutmeg (Bulk)</a></li>
                                         <li><a class="dropdown-item" href="productlist.html">Black Pepper (Bulk)</a></li>
                                    </ul>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="about.html">About us</a>
                                  </li>
                                  <!-- <li class="nav-item">
                                    <a class="nav-link" href="certification.html">Certifications</a>
                                  </li> -->
                                  <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact us</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="blog.html">Blog</a>
                                  </li>
                                
                                </ul>
                              </div>
                            </div>
                          </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container products-menu primary-bg h-40 p-0 homepage-products-links d-lg-block d-md-block d-none d-sm-none d-xl-block d-xxl-block" id="navbarNav">
       <ul class="menu-content ml-auto">
            <li class="tab1"><a href="productlist.html">Almonds</a></li>
            <li class="tab1" onclick="changeTab(event, 'tab2')"><a href="productlist.html">Cashews</a></li>
            <li><a href="productlist.html">Pistas</a></li>
            <li><a href="productlist.html">Walnuts</a></li>
            <li><a href="productlist.html">Cloves</a></li>
            <li><a href="productlist.html">Cumins</a></li>
            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> More </a>
                <ul class="dropdown-menu  collapse navbar-collapse other-products" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Zeera</a></li>
                    <li><a class="dropdown-item" href="#">Kasturi Methi</a></li>
                    <li><a class="dropdown-item" href="#">Rock Salt</a></li>
                    <li><a class="dropdown-item" href="#">Gooseberry Grass Powder (Bulk)</a></li>
                    <li><a class="dropdown-item" href="#">Tamerind</a></li>
                    <li><a class="dropdown-item" href="#">Triphala</a></li>
                    <li><a class="dropdown-item" href="#">Curry Leave Powder (Bulk)</a></li>
                    <li><a class="dropdown-item" href="#">Black Cumin (Bulk)</a></li>
                    <li><a class="dropdown-item" href="#">Black Salt (Bulk)</a></li>
                    <li><a class="dropdown-item" href="#">Tulsi (Bulk)</a></li>
                    <li><a class="dropdown-item" href="#">Amachoor Powder (Bulk)</a></li>
                    <li><a class="dropdown-item" href="#">Mace(Javitri) (Bulk)</a></li>
                    <li><a class="dropdown-item" href="#">Cumin (Zeera)</a></li> 
                     <li><a class="dropdown-item" href="#">Mint Powder (Bulk)</a></li>
                     <li><a class="dropdown-item" href="#">Garlic Powder (Bulk)</a></li>
                     <li><a class="dropdown-item" href="#">Coriander Grounded (Bulk)</a></li>
                     <li><a class="dropdown-item" href="#">Fennel Seed (Bulk)</a></li>
                     <li><a class="dropdown-item" href="#">Turmeric Grounded (Bulk)</a></li>
                     <li><a class="dropdown-item" href="#">Mustard Seeds (Bulk)</a></li>
                     <li><a class="dropdown-item" href="#">Cumin Grounded (Bulk)</a></li>
                     <li><a class="dropdown-item" href="#">Cardamom Grounded (Bulk)</a></li>
                     <li><a class="dropdown-item" href="#">Cardamom Grounded (Bulk)</a></li>
                     <li><a class="dropdown-item" href="#">Nutmeg (Bulk)</a></li>
                     <li><a class="dropdown-item" href="#">Black Pepper (Bulk)</a></li>
                  </ul>
            </li>
        </ul>
    </div>
    <section id="main">
        <div class="first-fold container p-0">
            <div class="banner pt-16">
                <img src="assets/img/banner-home.png" alt=""
                    class="fullWidth height-350 object-fit-cover">
            </div>
            <div class="about-company row font-size-14 pt-32">
                <div class="col-xl-6 col-xxl-6 col-lg-6 col-md-12 col-sm-12">
                    <h4 class="">Tglia at a Glance</h4>

                    <p class="font-size-14" style="margin-bottom: 8px !important;"> Our Vision is to bring the pure and nutritional value back into our foods</p>

                    <p style="margin-bottom: 8px !important;">We are passionate about health, hygiene, safety and quality of the foods we all consume. Our vision is to
                        provide
                        foods that meet the above criteria at an affordable cost. We combined this vision with stellar customer
                        service, so
                        people get access to healthy foods in the most convenient way possible.
                         We began researching on what it takes to provide foods that are fresh and pure. We created quality
                        parameters after
                        researching and contacted like-minded farmers, suppliers and manufacturers. Our focus was pure
                        unadulterated
                        ingredients that were stored in the right temperatures and packaged in a standardized way.
                    </p>
                    <p>
                        TGLIA now has an impressive range of Nuts, Dry fruits, Spices, Pulses and Cereals
                        that are needed in every healthy kitchen and every manufacturing plant
                        looking for quality ingredients. Our customers comprise of consumers in all age
                        groups who value healthy life over everything else and businesses looking for healthy
                        and hygienic raw materials and products to meet their customers demands. We had
                        two important goals in mind while conceptualizing TGLIA - to serve businesses (B2B)
                        and consumers (B2C) domestically in India and internationally (cross border,
                        import/export) in various countries.
                    </p>
                    <div class="row-col-2 mt-40  xs-mt-24">
                        <span class="col mr-8">
                            <button class="btn-secondary">Read More</button>
                        </span>
                        <span class="col">
                            <button type="button" class="btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Enquire Now</button>
                        </span>
                    </div>
                </div>
                <div class="col-xl-6 col-xxl-6 col-lg-6 col-md-12 col-sm-12 xs-mt-24">
                    <img src="assets/img/Group96.png" alt="second-baner">
                </div>
            </div>
        </div>
        <div class="aboutCompany pb-16">
            <div class="about-company-2 font-size-14 pb-16 container m-auto row">
                <div class="col-xl-6 col-xxl-6 col-lg-6 col-md-12 col-sm-12 p-0 row mr-5">
                    <div class="row about-company-card  m-8">
                        <div class="col-sm-12 col-md-12 col-xl-4 col-xxl-4 col-lg-4 tg-b p-0 aboutus-card-width">
                            <img src="https://www.tradeleaves.com/tl/bulk/image/get/e685b38f-5560-4a45-816d-c89bd87cfd5f/self-service-portal-example.jpg"
                                alt="" style="" class="object-fit-cover full-height fullWidth">
                        </div>
                        <div class="col-sm-12 col-md-12 col-xl-8 col-xxl-8 col-lg-8 tg-b">
                            <div class="pv-8">
                                <h6 class="p-0">Consumer's convenience</h6>
                                <p class="p-0">You may be a consumer who likes to shop online or someone who enjoys shopping
                                    from
                                    a brick and mortar store. Our products are available at both these platforms.
                                    We are able to offer cross border shipments as well to service consumers globally.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-xxl-6 col-lg-6 col-md-12 col-sm-12 p-0 row">
                    <div class="row about-company-card  m-8">
                        <div class="col-sm-12 col-md-12 col-xl-4 col-xxl-4 col-lg-4 tg-b d-flex p-0 aboutus-card-width">
                            <img src="assets/img/1.3-New.jpeg" alt="" class="object-fit-cover">
                        </div>
                        <div class="col-sm-12 col-md-12 col-xl-8 col-xxl-8 col-lg-8 tg-b">
                            <div class="pv-8">
                                <h6 class="p-0">Business's convenience</h6>
                                <p class="p-0">You may be an importer, a manufacturer, an owner of a shop in any country
                                    and of any size - a small traditional mom and pop store or a huge
                                    departmental store, our products.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-xxl-6 col-lg-6 col-md-12 col-sm-12 p-0 row mr-5">
                    <div class="row about-company-card  m-8">
                        <div class="col-sm-12 col-md-12 col-xl-4 col-xxl-4 col-lg-4  tg-b d-flex p-0 aboutus-card-width">
                            <img src="assets/img/2.jpeg" alt="ab" class="object-fit-cover">
                        </div>
                        <div class="col-sm-12 col-md-12 col-xl-8 col-xxl-8 col-lg-8 tg-b">
                            <div class="pv-8">
                                <h6 class="p-0">Quality Standards</h6>
                                <p class="p-0">
                                    We go over and above the standards specified by government and reputed industry
                                    organizations.We are certified by APEDA,
                                    FSSAI and MSME. We ensure products we source meet the specifications and certifications
                                    provided by buyers.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-xxl-6 col-lg-6 col-md-12 col-sm-12 p-0 row">
                    <div class="row about-company-card  m-8">
                        <div class="col-sm-12 col-md-12 col-xl-4 col-xxl-4 col-lg-4  tg-b d-flex p-0 aboutus-card-width">
                            <img src="assets/img/Import1.jpg" alt="" class="object-fit-cover  full-height fullWidth" />
                        </div>
                        <div class="col-sm-12 col-md-12 col-xl-8 col-xxl-8 col-lg-8 tg-b">
                            <div class="pv-8">
                                <h6 class="p-0">Logistics</h6>
                                <p class="p-0">We have a qualified logistics team that is well equipped to serve customers
                                    in India and internationally at a high level. We are able to handle domestic and
                                    international shipments.
                                    Our logistics team is trained in handling the logistics for the complete supply chain.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
        <div class="product-best-seller container">            
            <div class="best-selling-products pb-24">
                <div class="row m-0 p-0">
                    <h5 class="col  pl-5"> Best selling products</h5>
                    <a href="productlist.html" class="a-link col p-0 mr-25 d-none d-lg-block">Explore more products</a>
                </div>               
                    <div class="home-product-cards row justify-content-center m-0  ph-8">
                        <div class="product-card col-lg-6 col-md-6 col-sm-6 col-xl-3 col-xxl-3">
                            <div class="card-margin tg-b mb-8">                            
                                <div class="product-image">
                                    <img src="assets/img/1.png" alt="">
                                </div>
                                <div class="product-content">
                                    <p class="text-center mv-8">Almonds</p>
                                </div>
                            </div>
                        </div>
                        <div class="product-card col-lg-6 col-md-6 col-sm-6 col-xl-3 col-xxl-3">
                            <div class="card-margin tg-b mb-8">                            
                                <div class="product-image">
                                    <img src="assets/img/Cashews1.jpg" alt="">
                                </div>
                                <div class="product-content">
                                    <p class="text-center mv-8">Cashews</p>
                                </div>
                            </div>
                        </div>
                        <div class="product-card col-lg-6 col-md-6 col-sm-6 col-xl-3 col-xxl-3">
                            <div class="card-margin tg-b mb-8">                            
                                <div class="product-image">
                                    <img src="assets/img/pista-1.jpg" alt="">
                                </div>
                                <div class="product-content">
                                    <p class="text-center mv-8">Pistas</p>
                                </div>
                            </div>
                        </div>
                        <div class="product-card col-lg-6 col-md-6 col-sm-6 col-xl-3 col-xxl-3">
                            <div class="card-margin tg-b mb-8">                            
                                <div class="product-image">
                                    <img src="assets/img/WAlnuts-1.jpg" alt="">
                                </div>
                                <div class="product-content">
                                    <p class="text-center mv-8">Walnuts</p>
                                </div>
                            </div>
                        </div>
                        <div class="product-card col-lg-6 col-md-6 col-sm-6 col-xl-3 col-xxl-3">
                            <div class="card-margin tg-b mb-8">                            
                                <div class="product-image">
                                    <img src="assets/img/spn1.1.png" alt="">
                                </div>
                                <div class="product-content">
                                    <p class="text-center mv-8">Cumin</p>
                                </div>
                            </div>
                        </div>
                        <div class="product-card col-lg-6 col-md-6 col-sm-6 col-xl-3 col-xxl-3">
                            <div class="card-margin tg-b mb-8">                            
                                <div class="product-image">
                                    <img src="assets/img/Cloves1.jpg" alt="">
                                </div>
                                <div class="product-content">
                                    <p class="text-center mv-8">Cloves</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="productlist.html" class="a-link col p-0 mr-25 d-lg-none mt-16 d-flex justify-content-center">Explore more products</a>
            </div>
        </div>
        <div class="Comapny-profile container mt-16">            
            <div class="best-selling-products pb-24">
                <h5 class="col"> Company Profile</h5>
                <div class="row">
                    <div class="col-xl-6 col-xxl-6 col-lg-12 col-md-12 col-sm-12">
                        <div class="profile-tg mt-20">
                            <div class="d-flex flex-wrap">
                                <span class="grey-fg  companyInfoAttribute">Company Type </span>
                                <span class="SellerTemplate-ProfileText " flex="50">Private</span>
                            </div>
                            <div class="d-flex flex-wrap">
                                <span class="grey-fg  companyInfoAttribute">Industry </span>
                                <span class="SellerTemplate-ProfileText " flex="50">Agricultural products</span>
                            </div>
                            <div class="d-flex flex-wrap">
                                <span class="grey-fg  companyInfoAttribute">No. of years in business </span>
                                <span class="SellerTemplate-ProfileText " flex="50">15</span>
                            </div>
                            <div class="d-flex flex-wrap">
                                <span class="grey-fg  companyInfoAttribute">Number of employees </span>
                                <span class="SellerTemplate-ProfileText " flex="50">50-75</span>
                            </div>
                            <div class="d-flex flex-wrap">
                                <span class="grey-fg  companyInfoAttribute">Annual Revenue </span>
                                <span class="SellerTemplate-ProfileText " flex="50">₹5 - 10 crores</span>
                            </div>
                            <div class="d-flex flex-wrap">
                                <span class="grey-fg  companyInfoAttribute">GSTIN </span>
                                <span class="SellerTemplate-ProfileText " flex="50">12ACBGHNND225</span>
                            </div>
                            <div class="d-flex flex-wrap">
                                <span class="grey-fg  companyInfoAttribute">PAN </span>
                                <span class="SellerTemplate-ProfileText " flex="50">CZYPM8914M</span>
                            </div>
                            <!-- <div >
                                <span class="grey-fg  companyInfoAttribute">Website </span>
                                <span class="SellerTemplate-ProfileText " flex="50">
                                    http://www.woriointernational.com/</span>
                            </div> -->
                            <div class="d-flex flex-wrap" >
                                <span class="grey-fg  companyInfoAttribute">Preferred payment methods </span>
                                <span class="SellerTemplate-ProfileText " flex="50">Cash, UPI</span>
                            </div>
                            <div class="d-flex flex-wrap" >
                                <span class="grey-fg  companyInfoAttribute">Supported delivery terms</span>
                                <span class="SellerTemplate-ProfileText  " flex="50">FOB, CIF</span>
                            </div>
                         </div>
                    </div>
                    <div class="col-xl-6 col-xxl-6 col-lg-12 col-md-12 col-sm-12" >
                        <div class="profile-tg mt-20">
                            <div  class="d-flex flex-wrap">
                                <span class="grey-fg  companyInfoAttribute">Company Type </span>
                                <span class="SellerTemplate-ProfileText " flex="50">Private</span>
                            </div>
                            <div  class="d-flex flex-wrap">
                                <span class="grey-fg  companyInfoAttribute">Industry </span>
                                <span class="SellerTemplate-ProfileText " flex="50">Agricultural products</span>
                            </div>
                            <div  class="d-flex flex-wrap">
                                <span class="grey-fg  companyInfoAttribute">No. of years in business </span>
                                <span class="SellerTemplate-ProfileText " flex="50">15</span>
                            </div>
                            <div class="d-flex flex-wrap" >
                                <span class="grey-fg  companyInfoAttribute">Number of employees </span>
                                <span class="SellerTemplate-ProfileText " flex="50">50-75</span>
                            </div>
                            <div  class="d-flex flex-wrap">
                                <span class="grey-fg  companyInfoAttribute">Annual Revenue </span>
                                <span class="SellerTemplate-ProfileText " flex="50">₹5 - 10 crores</span>
                            </div>
                            <div class="d-flex flex-wrap" >
                                <span class="grey-fg  companyInfoAttribute">GSTIN </span>
                                <span class="SellerTemplate-ProfileText " flex="50">12ACBGHNND225</span>
                            </div>
                            <div  class="d-flex flex-wrap">
                                <span class="grey-fg  companyInfoAttribute">PAN </span>
                                <span class="SellerTemplate-ProfileText " flex="50">CZYPM8914M</span>
                            </div>
                            <!-- <div >
                                <span class="grey-fg  companyInfoAttribute">Website </span>
                                <span class="SellerTemplate-ProfileText " flex="50">
                                    http://www.woriointernational.com/</span>
                            </div> -->
                            <div class="d-flex flex-wrap" >
                                <span class="grey-fg  companyInfoAttribute">Preferred payment methods </span>
                                <span class="SellerTemplate-ProfileText " flex="50">Cash, UPI</span>
                            </div>
                            <div class="d-flex flex-wrap"  >
                                <span class="grey-fg  companyInfoAttribute">Supported delivery terms</span>
                                <span class="SellerTemplate-ProfileText  " flex="50">FOB, CIF</span>
                            </div>
                         </div>
                    </div>
                </div>               
            </div>
        </div>
        <div class="enquiry-location pt-16 pb-16">        
            <div class="company-profile row mt-16 container pb-24 m-auto">
                <div class="col-xl-6 col-xxl-6 col-lg-6 col-md-12 col-sm-12 p-0">
                    <h5 class="col  pl-5 mb-16">Send Enquiry</h5>
                    <div class="enquire-form pr-16 pl-5">
                        <form action="">
                            <div class="field-for-name mb-16">
                                <div class="d-flex">
                                    <p class="form-field-label col">Name</p>
                                    <small class="col text-right font-size-12 grey-fg">Required</small>
                                </div>
                                <input type="text" placeholder="Enter Name" class="fullWidth form-input-field">
                            </div>
                            <div class="field-for-email mb-16">
                                <div class="d-flex">
                                    <p class="form-field-label col">Email</p>
                                    <small class="col text-right font-size-12 grey-fg">Required</small>
                                </div>
                                <input type="text" placeholder="Enter Email" class="fullWidth form-input-field">
                            </div>
                            <div class="field-for-email mb-16">
                                <div class="d-flex">
                                    <p class="form-field-label col">Phone Number</p>
                                    <small class="col text-right font-size-12 grey-fg">Required</small>
                                </div>
                                <input type="text" placeholder="Enter Phone Number" class="fullWidth form-input-field">
                            </div>
                            <div class="field-for-message mb-8">
                                <div class="d-flex">
                                    <p class="form-field-label col">Message</p>
                                    <small class="col text-right font-size-12 grey-fg">Required</small>
                                </div>
                                <textarea name="Message" id="" cols="30" rows="10" class="fullWidth form-textarea"></textarea>
                            </div>
                            <div class="d-flex justify-content-end align-items-center mt-32">
                                <span class="mr-8">
                                    <a href="#" class="a-clear">Clear</a>
                                </span>
                                <span class="">
                                    <button class="btn-primary">Send Enquiry</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-6 col-xxl-6 col-lg-6 col-md-12 col-sm-12 p-0">
                    <h5 class="mb-25">Location</h5>
                    <div>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.4401770750505!2d78.40494047398188!3d17.438633701329177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91e7122e6b51%3A0x8b1f910add3fc4dd!2sTglia%20Services%20LLP!5e0!3m2!1sen!2sin!4v1687770221120!5m2!1sen!2sin"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-blogs pb-16">        
            <div class="blogs row mt-16 container pb-24 m-auto">
                <h5 class="col  pl-5 mb-16">Blog</h5>
                <div class="d-flex justify-content-center row">
                    <div class="blog-card col-sm-12 col-md-6 col-lg-4 mb-16">
                        <div class="blog-card-inner tg-b pb-8  mr-8">
                            <div class="blog-image bb h-210 d-flex h-150 justify-content-center">
                                <img src="assets/img//New folder/about1.jpg" alt="" class="object-fit-cover  fullWidth full-height">
                            </div>
                            <div class="blog-content">
                                <div class="row-cols-3 font-size-11 justify-content-between d-flex mb-8 grey-fg">
                                    <span class="col">
                                        <i class="bi bi-person-circle font-size-10"></i>
                                        Ramoorthy M
                                    </span>
                                    <!-- <span class="text-center font-size-10">|</span> -->
                                    <span class="col">
                                        <i class="bi bi-calendar3 font-size-10"></i>
                                    March 06, 2022</span>
                                </div>
                               <h5> Best in quality</h5>
                               <p>Best quality of products following industry standards.</p>
                            </div>
                            <div class="mt-16  mb-16 pr-16 blog-btn">
                                <button class="btn-primary">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="blog-card col-sm-12 col-md-6 col-lg-4 mb-16">
                        <div class="blog-card-inner tg-b pb-8 mr-8">
                            <div class="blog-image bb h-210 d-flex h-150 justify-content-center">
                                <img src="assets/img/3Cropped.jpeg" alt="" class="object-fit-cover fullWidth full-height">
                            </div>
                            <div class="blog-content">
                                <div class="row-cols-3 font-size-11 justify-content-between d-flex mb-8 grey-fg">
                                    <span class="col">
                                        <i class="bi bi-person-circle font-size-10"></i>
                                        Ramoorthy M
                                    </span>
                                    <!-- <span class="text-center font-size-10">|</span> -->
                                    <span class="col">
                                        <i class="bi bi-calendar3 font-size-10"></i>
                                    March 06, 2022</span>
                                </div>
                               <h5>Consistent On Time Delivery…</h5>
                               <p>I had my products delivered on time and the quality of the products are very good. My friend referred me this</p>
                            </div>
                            <div class="mt-16 mb-16 pr-16 blog-btn">
                                <button class="btn-primary">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="blog-card col-sm-12 col-md-6 col-lg-4 mb-16">
                        <div class="blog-card-inner tg-b pb-8 mr-8">
                            <div class="blog-image bb h-210 d-flex h-150 justify-content-center">
                                <img src="assets/img/1000_F_339183003_LV1tG8YLat3iWtLV2APLP726uq290CTB 1.png" alt="" class="object-fit-cover fullWidth full-height">
                            </div>
                            <div class="blog-content">
                                <div class="row-cols-3 font-size-11 justify-content-between d-flex mb-8 grey-fg">
                                    <span class="col">
                                        <i class="bi bi-person-circle font-size-10"></i>
                                        Ramoorthy M
                                    </span>
                                    <!-- <span class="text-center font-size-10">|</span> -->
                                    <span class="col">
                                        <i class="bi bi-calendar3 font-size-10"></i>
                                    March 06, 2022</span>
                                </div>
                               <h5> Wide range of products</h5>
                               <p>I had ordered vareity of nuts and all the products quality is good and the packaging is also good.</p>
                            </div>
                            <div class="mt-16 mb-16 blog-btn">
                                <button class="btn-primary">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Send Enquiry</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="field-for-name mb-16">
                            <div class="d-flex">
                                <p class="form-field-label col">Name</p>
                                <small class="col text-right font-size-12 grey-fg">Required</small>
                            </div>
                            <input type="text" placeholder="Enter Name" class="fullWidth form-input-field">
                        </div>
                        <div class="field-for-email mb-16">
                            <div class="d-flex">
                                <p class="form-field-label col">Email</p>
                                <small class="col text-right font-size-12 grey-fg">Required</small>
                            </div>
                            <input type="text" placeholder="Enter Email" class="fullWidth form-input-field">
                        </div>
                        <div class="field-for-email mb-16">
                            <div class="d-flex">
                                <p class="form-field-label col">Phone Number</p>
                                <small class="col text-right font-size-12 grey-fg">Required</small>
                            </div>
                            <input type="text" placeholder="Enter Phone Number" class="fullWidth form-input-field">
                        </div>
                        <div class="field-for-message mb-8">
                            <div class="d-flex">
                                <p class="form-field-label col">Message</p>
                                <small class="col text-right font-size-12 grey-fg">Required</small>
                            </div>
                            <textarea name="Message" id="" cols="30" rows="10" class="fullWidth form-textarea"></textarea>
                        </div>
                        <div class="d-flex justify-content-end align-items-center mt-32">
                            <span class="mr-8">
                                <a href="#" class="a-clear">Clear</a>
                            </span>
                            <span class="">
                                <button class="btn-primary">Send Enquiry</button>
                            </span>
                        </div>
                    </form>
                </div>
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Send message</button>
                </div> -->
              </div>
            </div>
          </div>
    </section>
    <footer class="bg-body-tertiary pv-8">
        <div>
                <p class="text-center font-size-12">© All rights reserved TGLIA Services LLP 2023</p>
        </div>
    </footer>
    <script src="assets/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>